<!-- Cookie -->
<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        Tento web používá k poskytování služeb soubory cookie.
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            Souhlasím
        </button>
    </div>
</div>
<!-- Cookie -->
