@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Rodina Nových</h1>
</div>

<div class="text-center">
    <img alt="Family Photo" src="~/Content/Images/Heading/rodina.jpg" class="display-4" style="width:100%; max-width:1000px;" />
</div>
