
@{
    ViewBag.Title = "Jara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Jaroslav Nový</h1>
</div>

<div class="text-center">
    <img alt="Jara Photo" src="~/Content/Images/Heading/jara.jpg" class="display-4" style="width:100%; max-width:300px;" />
</div>

